/***** General *****/
* {
    font-family: 'DM-Sans', sans-serif;
}

#contact_modal {
    display: none;
}


/***** Encadrement des photographes *****/
.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 20px;
}

.photograph-header .info h1 {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    margin: 20px 0px 10px 0px;
}

.photograph-header .info h2 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 3px 0px;
}

.photograph-header .info h3 {
    color: #525252;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0px 3px 0px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #d3573c;
    color: #000;
    cursor: pointer;
}


/***** Tri *****/
.sort {
    position: relative;
    display: flex;
    margin: 10px 0px 30px 100px;
    gap: 20px;
}

.sort-txt {
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
}

.sort-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #901C1C;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    height: 60px;
    width: 150px;
    position: relative;
}

.sort-btn .chevron-down {
    display: flex;
    width: 18px;
    height: 18px;
    z-index: 99;
}

.sort-element {
    display: none;
	flex-direction: column;
	align-items: center;
    position: absolute;
    border-top-left-radius: 5px;
    font-size: 18px;
    border-radius: 5px;
    left: 92px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Changez cette valeur à une valeur plus élevée */
	background-color:#901C1C;
	padding: 10px;
}

.dropdown-option {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #901C1C;
    cursor: pointer;
    height: 50px;
    width: 150px;
    color: #ffffff;
}

.dropdown-option:hover {
    background-color: #d3573c;
}

.line {
    display: block;
    background-color: #ffffff;
    width: 100%;
	height: 1px;
}


/***** Medias du photographe *****/
.media {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    gap: 50px;
}

.media .media-item {
    display: flex;
    flex-direction: column;
}

.media .media-item > img {
    height: 351px;
    width: 350px;
    object-fit: cover;
}

.media .media-item > video {
    height: 351px;
    width: 350px;
    object-fit: cover;
}

.media .media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-right: 25px;
}

.media .media-info h2 {
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
}

.media .media-info .heart {
    display: flex;
    position: absolute;
    top: 17px;
    right: 19px;
    transition: opacity 0.5s;
    z-index: 1;
}

.media .media-info .heart img {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.media .media-info .heart .heart_empty {
    transition: opacity 0.5s;
    z-index: 2;
}

.media .media-info .heart .heart_full {
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 1;
}


/***** Lightbox *****/
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(150, 150, 150, 0.8);
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 15px 0px 45px 0px;
    position: relative;
}

#titre-photo-lightbox.titre-photo {
    display: flex;
    position: absolute;
    left: 412px;
    top: 702px;
    color: #901C1C;
}

#contenu-photo-lightbox img, video {
    display: flex;
    justify-content: center;
    width: 710px;
    height: 680px;
    object-fit: cover;
    overflow: clip;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chevron {
    width: 42px;
}

.close-lightbox {
    display: flex;
    position: absolute;
    right: 305px;
    top: 10px;
    color: #901C1C;
}

#left-arrow.arrow {
    display: flex;
    position: absolute;
    left: 305px;
    top: 350px;
    height: 42px;
    width: 42px;
    font-size: large;
    color: #901C1C;
}

#right-arrow.arrow {
    display: flex;
    position: absolute;
    right: 306px;
    top: 350px;
    height: 42px;
    width: 42px;
    font-size: large;
    color: #901C1C;
}


/***** Modal de contact *****/
.modal {
    display: none; 
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    width: 80%; 
    max-width: 400px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal header {
    background: #db8876;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
    background: #db8876;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.label-form {
    display: block;
    margin-top: 10px;
}

.champ-form {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    width: 94%;
}

textarea.champ-form {
    height: 100px;
    resize: none;
    width: 94%;
}

.btn-valid {
    display: block;
    width: 30%;
    font-size: 10px;
    background-color: #901C1C;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-valid:hover {
    background-color: #d3573c;
    color: #525252;
    cursor: pointer;
}


/***** Informations like et tarif *****/
.onglet {
    display: flex;
    gap: 60px;
    background-color: #DB8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    font-size: 18px;
    padding: 10px 20px;
    position: fixed;
    right: 35px;
    width: fit-content;
    z-index: 999;
}

.onglet .total-like {
    display: flex; 
    gap: 5px;
}

.onglet p {
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
}